/* Start spsial heading */

.speacial-heading {
  display: flex;
  flex-direction: column;
  align-items: center;       
  justify-content: center;
  width: 100%;               
  margin: 0 auto 30px auto;  
}

/* تنسيق العنوان الرئيسي */
.speacial-heading h1 {
  position: relative !important;
  font-family: "barada-reqa";
  font-weight: 500;
  font-size: 70px;
  text-align: center;
  color: var(--main-color);
  margin: 0;
  padding: 0 10px;
  line-height: 1;
  border-radius: 15px;
  z-index: 1;
  width: fit-content;
  margin-bottom: 20px;
}


.speacial-heading span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px; 
  font-family: "arslan-b";
  color: var(--third-color);
  font-size: 29px; 
  line-height: 0;
}

.speacial-heading span.dark {
  color: var(--five-color);
}


.speacial-heading span::before,
.speacial-heading span::after {
  content: "";
  display: inline-block;
  width: 40px; 
  height: 2px; 
  background: var(--five-color); 
  border-radius: 20px;
}


.speacial-heading.dark span::before,
.speacial-heading.dark span::after {
  background: var(--third-color);
}
.speacial-heading h1.dark {
  color: var(--light-color);
}



.speacial-heading img.dark {
  content: url(../media/img/map-dark.webp);
}




/* .speacial-heading h1::after {
  content: "";
  background-image: url(../media/img/line-header.svg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 60px;
  
  position: absolute;
} */


/* .speacial-heading h1.dark {
  color: rgb(228, 228, 228, 0.05);
} */

.shadow-heading {
  position: absolute;
  font-family: "barada-reqa";
  font-weight: normal;
  font-size: 70px;
  text-align: center;
  color: var(--main-color);

  line-height: 1.6;

  z-index: 2;
}

.speacial-heading lord-icon {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 767px) {
  .speacial-heading h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 575px) {
  .speacial-heading h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 430px) {
  .speacial-heading h1 {
    font-size: 50px;
  }

  .shadow-heading {
    font-size: 45px;
  }
}
@media only screen and (max-width: 400px) {
  .speacial-heading h1 {
    font-size: 40px;
  }

}

@media only screen and (max-width: 370px) {
  .speacial-heading h1 {
    /* font-size: 40px; */
  }
}

.speacial-heading h1 span {
  color: var(--main-color);
}


/* End spsial heading */

/* Start navbar home section */

.nav-content {
  padding: 5px;
  background: var(--white-color);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(12px);
  display: inline-block;
  position: fixed;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  border-radius: 20px;
  z-index: 999;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 5px 2px var(--shdow-light-color);
}

.nav-content.dark {
  background: var(--main-color);
  box-shadow: 1px 0px 0px 0px var(--shdow-dark-color);
}

.scrolled {
  transition: all 0.3s ease;
}

.scroll-line {
  position: absolute;
  bottom: -2px;
  left: 10px;
  height: 6px;
  width: 0%;
  border-radius: 30px;
  background: var(--main-color);
  z-index: 1000;
  transition: width 0.1s linear;
}

.scroll-line.dark {
  background: var(--secondry-color);
}

.nav-content .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
}

@media only screen and (max-width: 767px) {
  .nav-content .content {
    padding: 0px 10px;
  }
}

.nav-content .content-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  gap: 40px;
}

@media only screen and (max-width: 767px) {
  .nav-content .content-2 {
    /* flex-direction: row-reverse; */
    justify-content: flex-end;
    gap: 10px;
  }
}

.logo {
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
}

.logo img {
  width: 80px;

}

.logo img.dark {
  content: url(../media/img/logo-dark.webp);
}

@media only screen and (max-width: 767px) {
  .logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media only screen and (max-width: 767px) {
  .logo img {
    width: 75px;
  }
}

.bars {
  display: none;
}
/* نسخة مصغرة للموبايل فقط */
@media only screen and (max-width: 767px) {
  .bars {
    display: block;
    font-size: 36px;
    color: var(--main-color);

    cursor: pointer;
    /* transition: color 0.3s ease !important; */
  }
.bars .dark {
  color: var(--white-color);
}
  

  .links {
    flex-direction: column;
    gap: 10px;
    background: var(--white-color);
    position: absolute;
    top: calc(100% + 10px);
    left: calc(-100% - 50px);
    width: 100%;
    z-index: 999;
    transition: 0.7s;
    background: transparent;
  }

  .active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--white-color);
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    z-index: 999;
    background: transparent;
  }
}

/* Start snipper */

.parent-spinner {
  display: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.spinner {
  width: 27px;
  height: 27px;
  --clr: var(--main-color);
  --clr-alpha: var(--main-color);
  --clr-alpha: var(--light-color);
  animation: spinner 3s infinite linear;
  transform-style: preserve-3d;
}

.spinner .dark {
    --clr: var(--third-color);
  --clr-alpha: var(--secondry-color);
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-13px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(13px);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: rotate(180deg) rotateX(180deg) rotateY(180deg);
  }

  100% {
    transform: rotate(360deg) rotateX(360deg) rotateY(360deg);
  }
}

/* End snipper */

.links {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .links li {
    width: 100%;
    text-align: center;
    /* display: flex;
  flex: 1;
  justify-content: center;
  align-items: center; */
  }
}

.create-account {
  font-family: "barada-reqa";
  font-weight: normal;
  text-align: center;
  text-decoration: none !important;
  background: var(--main-color);
  color: var(--white-color);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  transition: all linear 0.2s;
  width: 100%;
  gap: 10px;
  flex: 1;
}

.create-account img {
  width: 20px;
}

.create-account.dark {
  background: var(--five-color);
  color: var(--white-color);
  
}



.create-account:hover {
  background: var(--third-color);
  color: var(--white-color);
  /* box-shadow: 0px 0px 6px 0px var(--light-color); */
}

@media only screen and (max-width: 991px) and (min-width: 767px) {
  .create-account {
    font-size: 23px;
  }
}

.login-button {
  font-family: "barada-reqa";
  font-weight: normal;
  text-decoration: none !important;
  background: var(--secondry-color);
  color: var(--gray-color);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  transition: all linear 0.2s;
  gap: 10px;
  width: 100%;
}

.login-button.dark {
  /* background: var(--third-color);
  color: var(--white-color); */
}

.login-button img {
  width: 22px;
}


.login-button:hover {
  /* background: var(--secondry-color); */
  color: var(--white-color);
  /* box-shadow: 0px 0px 6px 0px var(--light-color); */
}
/* .login-button.dark:hover {
  background: var(--secondry-color);
  color: var(--secondry-color);
  box-shadow: 0px 0px 6px 0px var(--light-color);
} */

.icon-login-button {
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 991px) and (min-width: 767px) {
  .login-button {
    font-size: 23px;
  }
}

.login-button svg {
  color: var(--light-color);
}

/* End navbar home section */

/* Start navbar side */

.user-menu {
  padding-left: 50px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  background: var(--main-color);
  box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.1);
}

.user-menu.dark {
  border: 1px solid var(--white-color);
  /* background: var(--five-color); */
  
}

.user-icon {
  color: var(--main-color);
  font-size: 15px;
  padding-top: 5px;
  padding-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .user-icon {
    font-size: 16px;
    margin: 0px;
  }
}

.user-menu::before {
  content: "\f13a";
  font-family: "barada-reqa";
  font-weight: 700;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white-color);
  font-size: 23px;
  transition: 0.5s;
}

.user-menu.open::before {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown-content {
  position: absolute;
  top: 64px;
  right: 0;
  background: var(--main-color);
  /* border: 2px solid var(--white-color); */
  min-width: 200px;
  border-radius: 10px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
  text-align: right;
  z-index: 999;
}

/* .dropdown-content.dark {
  background: var(--main-color);

} */

.dropdown-content svg {
  color: var(--secondry-color);
}

.box-shadow {
  box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.1);
}

.dropdown-content.open {
  max-height: 500px;
}

.dropdown-content a {
  font-family: "barada-reqa";
  font-family: "barada-reqa";
  font-weight: 500;
  font-size: 17px;
  padding: 10px 15px;
  text-decoration: none !important;
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background: var(--secondry-color);
  color: #fff;
}

.dropdown-content a:hover svg {
  color: var(--secondry-color);
}

.swal2-popup {
  border-radius: 30px;
  border: 3px solid var(--white-color);
}

.swal2-title {
  font-family: "barada-reqa" !important;
  font-weight: normal !important;
}

.swal2-html-container {
  font-family: "barada-reqa" !important;
  font-size: 15px !important;
}

.swal2-confirm {
  font-family: "barada-reqa" !important;
  font-size: 13px !important;
  border-radius: 15px !important;
}

.swal2-cancel {
  font-family: "barada-reqa" !important;
  font-size: 13px !important;
  border-radius: 15px !important;
}

/* End navbar side */

/* Start header home section */

.header-home .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
}

@media only screen and (max-width: 767px) {
  .header-home .content {
    align-items: center;
    text-align: center;
  }
}

.main-img-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 100px;
  margin-bottom: 20px;
}

.header-home h3 {
  font-family: "barada-reqa";
  color: var(--main-color);
  margin: 0;
  padding-top: 60px;
  padding-right: 0px;
  font-size: 70px;
  font-weight: 500;
  text-align: center;
  /* line-height: ; */
}

.header-home h3.dark {
  color: var(--secondry-color);

}

@media only screen and (max-width: 767px) {
  .header-home h3 {
    font-size: 40px;
    padding: 10px;
    text-align: center;
  }

  .header-home .content {
    margin-top: 100px;
  }

  .main-img-home {
    margin-top: 30px;
  }
}

.header-home h3 span {
  color: var(--secondry-color);
}

.header-home h3 .icon {
  font-family: "barada-reqa";
}

@media only screen and (max-width: 991px) {
  .header-home h3 {
    font-size: 40px;
  }
}

.header-home p {
  font-family: "arslan-b";
   color: var(--black-color);
  font-size: 40px;
  font-weight: 500;
  text-align: right;
}

.header-home p.dark {
  color: var(--five-color);
}

.header-home p span {
  font-family: "arslan-b";
  color: var(--five-color);
}

.header-home p span.dark {
  color: var(--secondry-color);
}

@media only screen and (max-width: 991px) {
  .header-home p {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .header-home p {
    font-size: 30px;
    text-align: center;
  }
}

.btn-create {
  display: flex;
  justify-content: center;
}

.create-new-account {
  font-family: "barada-reqa", sans-serif;
  font-size: 25px;
  text-decoration: none !important;
  background-color: var(--secondry-color); 
  color: var(--main-color);
  border-bottom: var(--main-color) 3px solid;
  padding: 0px 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.create-new-account:hover {
  background-color: #c9b6a3; 
  color: #3b1904;
}


.create-new-account:active {
  transform: translateY(4px); 
  box-shadow: 0px 0px 0px #3b1904; 
}


.create-new-account.dark {
  background-color: var(--third-color); 
  color: var(--white-color);
  border-bottom-color: var(--secondry-color);
}

.main-img-home img {
  /* width: 500px; */
  border-radius: 15px;
}

@media only screen and (max-width: 991px) {
  .header-home .main-img-home {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-home .main-img-home img {
    width: 370px;
  }
}

@media only screen and (max-width: 450px){
    .header-home .main-img-home img {
    width: 320px;
  }
}

@media only screen and (max-width: 370px){
    .header-home .main-img-home img {
    width: 280px;
  }
}

/* end header home section */

/* Strat about hom section */


.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  /* gap: 10px; */
  width: 100%;
  margin-bottom: 40px;
}

.card-number-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: var(--third-color);
  margin-bottom: 10px; 
}

.card-number-top span {
  font-family: "arslan-b" ;
  font-size: 50px;
  line-height: 0;

}

.card-number-top::before,
.card-number-top::after {
  content: "";
  display: inline-block;
  width: 60px; 
  height: 3px; 
  background-color: #d37e26;
  border-radius: 30px;
  margin-bottom: 10px;
}

/* =========================================
   تنسيق الكارت الأساسي
========================================= */
.feature-card-box {
  width: 348px; 
  max-width: 100%;
  height: 250px; 

  background-color: var(--main-color);
  border-radius: 40px; 
  padding: 20px 25px;
  text-align: center; 
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 1;
}


.feature-card-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 

  background-image: url('../media/img/pattern.webp'); 
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply; 
  background-color: inherit; 
  opacity: 0.25; 
}

.feature-card-box .card-title {
  font-family: "barada-reqa", sans-serif;
  font-size: 45px;
  font-weight: 500;
  color: #bda998;
  margin-bottom: 15px;
  text-align: center; 
}

.feature-card-box .card-desc {
  font-family: "arslan-b";
  font-size: 30px;
  /* line-height: 1.5; */
  color: #fff;
  margin: 0;
  text-align: right; 
}



.dark .feature-card-box {
  background-color:var(--secondry-color);
  /* box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3); */
}


.dark .feature-card-box .card-title {
  color: var(--main-color); 
}

.dark .feature-card-box .card-desc {
  color:#8b4d18; 
}


.dark .card-number-top {
  color: #e89b47;
}

.dark .card-number-top::before,
.dark .card-number-top::after {
  background-color: #e89b47;
}

/* End about hom section */


/* Start acdmic year section home  */

.speacial-heading {
  justify-content: center;
}

.card-year {
  padding: 20px;
  padding-bottom: 0;
  text-align: center;
  margin: 5px auto 30px auto; 
  border-radius: 40px;
  width: 95%;
  background-color: var(--main-color);
  position: relative;
  overflow: hidden; 
  z-index: 1; 
}


.card-year::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../media/img/pattern.webp'); 
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply; 
  background-color: inherit; 
  opacity: 0.35; 
}

.card-year.dark {
  background-color: var(--light-color);
}

.card-year.dark p {
  color: var(--main-color);
}
.card-year a {
  text-decoration: none ;
  font-size: 25px;
  color: var(--light-color);
}
.card-year p {
  font-family: "arslan-b";
  line-height: 1;
  font-size: 40px;
  color: var(--light-color);
}

.card-year p.dark {
  color: var(--main-color);
}



.card-year a:hover .check-courses{
  color: var(--five-color) !important ;

}

.img-card-year {
  position: relative;
  border-radius: 30px;
  object-fit: cover;
  width: 100%;
    /* border: 10px solid var(--third-color); */
}

.img-card-year:hover {
  filter: saturate(1.5);
}

.check-courses {
  font-family: "barada-reqa";
  font-size: 22px;
  color: var(--black-color);
  margin: 0;
  padding: 10px 0px;
}


.title-card-year {
  font-family: "barada-reqa";
  font-size: 18px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  margin: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  color: var(--white-color);
  padding: 7px 15px;
}
@media only screen and (max-width: 991px) {
  .title-card-year {
    font-size: 15px !important;
    padding: 5px 10px;
    right: 10px;
    bottom: 10px;

  }
}

.all-year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.year {
  font-family: "barada-reqa";
  font-size: 35px;
  background: var(--white-color);
  color: var(--black-color);
  border-radius: 13px;
  border-right: 5px solid var(--black-color);
  margin-top: 20px;
  padding: 5px 7PX;
  line-height: 1.1;
}

.year:hover {
  cursor: pointer;
  text-decoration: none;
  color: var(--main-color);
  border-right-color: var(--main-color);
}

@media only screen and (max-width: 991px) {
  .year {
    font-size: 30px;
  }
}

/* End acdmic year section home  */

/* Start reviews student */

.card-student {
  padding: 7px;
  text-align: center;
  background: var(--secondry-color);
  margin: 5px;
  border-radius: 20px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-student:hover {
  padding: 0;
}

.img-card-student {
  position: relative;
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  /* flex: 2; */
  display: block;
}
/* End reviews student */

/* Start courses section home */

.card-course{
  margin-bottom: 20px;
}


.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  background: var(--main-color);
  border-radius: 20px;
  padding: 15px;
  /* margin-bottom: 20px ; */
  height: 100%;
}

.course-free {
  position: relative;
}

.course-free::after {
  content: url(../media/img/free-light.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.course-free.dark::after {
  content: url(../media/img/free-dark.svg);
}

.course img {
  width: 100%;
  border-radius: 20px;
}

.content-course {
  width: 100%;
display: flex;
flex-direction: column;
height: 100%;
}

.content-course h4 {
  font-family: "barada-reqa";
  color: var(--light-color);
  text-align: center;
  font-size: 25px;
  line-height: 1.3;
  padding: 5px 0px;
}

.content-course .number-lect {
  position: relative;
  width: calc(100% + 30px);
  left: 15px;
  font-family: "arslan-b";
  text-align: center;
  background: var(--light-color);
  padding: 10px 5px;
  margin-bottom: 10px;
  font-size: 25px;
  color: var(--black-color);
    display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.course.dark{
 background-color: var(--light-color);
}

.course.dark .number-lect{
 background-color: var(--main-color);
 color: var(--light-color);
}
.course.dark h4{
 color: var(--main-color);
}

.data-course.dark .price{
 color: var(--light-color);
 background-color: var(--main-color);
}
.data-course.dark .price span{
 color: var(--light-color);
 background-color: var(--main-color);
}

.data-course.dark .price-del{
 color: var(--light-color);
 background-color: var(--main-color);
}



.data-course {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-grow: 1; */
}

.data-course .price {
  font-family: "cairo";
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 4px;
  padding: 4px 8px;
  background: var(--light-color);
  border-radius: 10px;
  font-size: 18px;
  margin: 5px 0px;
  color: var(--black-color);
}

.data-course .price span {
  font-family: "cairo";
  font-size: 16px;
  color: var(--black-color);
}

.data-course .price-free {
  font-family: "cairo";
  font-weight: 800;
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
  background: var(--five-color);
  font-size: 14px;
  color: var(--black-color);
  padding: 5px 7px;
  border-radius: 10px;
}

.data-course .price-free.dark {
  background: var(--third-color);
  color: var(--secondry-color);
}

.data-course .price-del {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  font-family: "cairo";
  padding: 4px 6px;
  background: var(--white-color);
  border-radius: 10px;
  font-size: 15px;
  margin: 5px 0px;
}

.data-course .price-del span {
  font-family: "cairo";
  background: var(--main-color);
  color: var(--white-color);
  text-decoration: line-through;
  border-radius: 20px;
  padding: 0px 8px;
}

.info-course p {
  font-family: "barada-reqa";
  font-size: 18px;
  /* display: inline-flex; */
  align-items: center;
  gap: 9px;
  margin: 0;
  margin-top: 7px;
  color: var(--white-color);
}


.info-course.dark p  {
  color: var(--main-color);
}


@media only screen and (max-width: 400px) {
  .info-course p {
    font-size: 11px;
  }
}

.info-course p svg {
  color: var(--secondry-color);
}


.info-course p svg .dark {
  color: var(--main-color);
}

.course-subscription {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.course-subscription .check {
  font-family: "barada-reqa";
  /* font-weight: bold; */
  text-decoration: none;
  background: var(--white-color);
  color: var(--main-color);
  padding: 10px 5px;
  /* padding-bottom: 12px; */
  width: 100%;
  text-align: center;
  margin: 0;
  border-radius: 10px;
  font-size: 25px;
  line-height: 1;
  /* border-right: 4px var(--secondry-color) solid; */
}

.course-subscription .check:hover {
  background: var(--secondry-color);
  /* color: var(--five-color); */
}

.course-subscription .subscription {
  font-family: "barada-reqa";
  font-weight: bold;
  text-decoration: none;
  background: var(--main-color);
  padding: 3px 7px;
  margin: 0;
  border-radius: 15px;
  font-size: 15px;
  color: #fff;
  border: 3px var(--light-color) solid;
}

.course-subscription .subscription:hover {
  background: #fff;
  color: var(--main-color);
}

.course-subscription.dark a{
  color: var(--light-color);
  background-color: var(--main-color);
}

.you-subscription {
  background-color: rgb(250, 247, 230);
  font-size: 15px;
  padding: 6px 12px;
  border: 2px dashed var(--main-color, #b91c1c);
  border-radius: 12px;
  text-align: center;
  font-family: "barada-reqa", sans-serif;
}
@media (max-width: 400px) {
  .you-subscription {
    font-size: 13px;
  }
}

/* End courses section home */


/* Start courses section course's student */

/* .courses-home {
  margin-top: 100px;
} */


/* End courses section course's student */

